.vjslider {
    width: 100%;
    overflow: hidden;
}

.vjslider__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    transition: none;
}

.vjslider__slider--animate {
    transition: transform .3s;
}

.vjslider__slide {
    width: 100%;
    height: 20rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vjslider__slide--blue {
    background-color: #9abdf9;
}

.vjslider__slide--green {
    background-color: #76ab08;
}

.vjslider__slide--pink {
    background-color: #e77aad;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__element {
    padding: 5px;
}